<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166838470298-3h2j18k7970ja2maqoof5c7rkp7kn6bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166838470298-3h2j18k7970ja2maqoof5c7rkp7kn6bb</string>
	<key>API_KEY</key>
	<string>AIzaSyAbmVyL5HvGbD1L8hUPSKz69jxBQkHzKuw</string>
	<key>GCM_SENDER_ID</key>
	<string>166838470298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexThompson.TripCalculator</string>
	<key>PROJECT_ID</key>
	<string>tripcalculator-8e826</string>
	<key>STORAGE_BUCKET</key>
	<string>tripcalculator-8e826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166838470298:ios:584efb54063360cbad8123</string>
</dict>
</plist>